<div class="relative" (click)="toggleDropdown()">
	<!-- Botón de notificaciones -->
	<button class="relative p-1   text-white">
    <i class="fa-solid fa-message"></i>
  		</button>
	<!-- Dropdown -->
	<div *ngIf="isOpen" class="absolute right-0 mt-2 w-64 bg-white rounded-lg shadow-lg z-50">
	  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">message1</a>
	  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">message 2</a>
	  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Ver todas</a>
	</div>
  </div>
  