<!-- app.component.html -->
<div class="flex flex-col min-h-screen bg-gray-100">

    <!-- Header -->
    <app-header class="bg-white shadow-md z-30"></app-header>
  
    <!-- Body -->
    <div class="flex flex-1">
  
      <!-- Sidebar Left -->
      <app-sidebar-left class="w-16 bg-white shadow z-20"></app-sidebar-left>
  
      <!-- Main content + Right Sidebar Container -->
      <div class="flex flex-1">
  
        <!-- Home Page & Router Outlet -->
        <main class="flex-1">
          <app-home-page>
            <router-outlet></router-outlet>
          </app-home-page>
        </main>
  
        <!-- Sidebar Right -->
        <app-sidebar-rigth class="w-64 bg-white shadow z-20"></app-sidebar-rigth>
  
      </div>
    </div>
  
    <!-- Footer -->
    <app-footer-home class="bg-white shadow-inner z-20"></app-footer-home>
  
  </div>
