<!-- app.component.html -->
<div class="flex flex-col min-h-screen bg-gray-100">
    <app-header class="w-full"></app-header>
    
    <div class="flex flex-1">
      <app-sidebar-left class="hidden md:block md:w-1/6 xl:w-1/5 bg-blue-100"></app-sidebar-left>
      
      <main class="flex-1">
        <app-home-page></app-home-page>
      </main>
      
      <app-sidebar-rigth class="hidden lg:block lg:w-1/6 xl:w-1/5 bg-blue-100"></app-sidebar-rigth>
    </div>
    
    <app-footer class="w-full"></app-footer>
  </div>
  