
<div class="central-meta">
    <span class="create-post">Reels <a href="#" title="">See All</a></span>
    <div class="story-postbox">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="story-box">
            <figure>
              <img src="assets/images/resources/story-1.jpg" alt="">
              <span>Add Your Story</span>
            </figure>
            <div class="story-thumb" data-toggle="tooltip" title="Add Your Story">
              <i class="ti-plus"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="story-box">
            <figure>
              <img src="assets/images/resources/story-2.jpg" alt="">
              <span>Adam James</span>
            </figure>
            <div class="story-thumb" data-toggle="tooltip" title="Adam James">
              <img src="assets/images/resources/thumb-2.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="story-box">
            <figure>
              <img src="assets/images/resources/story-3.jpg" alt="">
              <span>Emily grey</span>
            </figure>
            <div class="story-thumb" data-toggle="tooltip" title="Emily grey">
              <img src="assets/images/resources/thumb-3.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="story-box">
            <figure>
              <img src="assets/images/resources/story-4.jpg" alt="">
              <span>Jhon Deo</span>
            </figure>
            <div class="story-thumb" data-toggle="tooltip" title="Jhon Deo">
              <img src="assets/assets/images/resources/thumb-4.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="stories-wraper">
        <div class="status-story">
          <span class="close-story"><i class="ti-close"></i></span>
          <div class="row">
            <div class="col-lg-4">
              <div class="stories-users">
                <h5>Stories</h5>
                <div class="my-status">
                  <figure><img src="images/resources/friend-avatar10.jpg" alt=""></figure>
                  <a href="#" title="" class="main-btn">Add New</a>
                  <div class="story-user">
                    <span>My Story</span>
                    <ins>No updates</ins>
                  </div>
                </div>
                <ul class="frnds-stories">
                  <li>
                    <figure><img src="assets/images/resources/friend-avatar11.jpg" alt=""></figure>
                    <div class="story-user">
                      <span>Emily doll</span>
                      <ins>yesterday</ins>
                    </div>
                  </li>
                  <li>
                    <figure><img src="assets/images/resources/friend-avatar15.jpg" alt=""></figure>
                    <div class="story-user">
                      <span>Jhon Borny</span>
                      <ins>3 days ago</ins>
                    </div>
                  </li>
                  <li>
                    <figure><img src="assets/images/resources/friend-avatar12.jpg" alt=""></figure>
                    <div class="story-user">
                      <span>Sarah Khan</span>
                      <ins>2 days ago</ins>
                    </div>
                  </li>
                  <li>
                    <figure><img src="assets/images/resources/friend-avatar13.jpg" alt=""></figure>
                    <div class="story-user">
                      <span>Zara Hayat</span>
                      <ins>1 day ago</ins>
                    </div>
                  </li>
                  <li>
                    <figure><img src="assets/images/resources/friend-avatar14.jpg" alt=""></figure>
                    <div class="story-user">
                      <span>Zing Jang</span>
                      <ins>2 days ago</ins>
                    </div>
                  </li>

                  <li>
                    <figure><img src="assets/images/resources/friend-avatar16.jpg" alt=""></figure>
                    <div class="story-user">
                      <span>Emma watson</span>
                      <ins>jan,12 2024</ins>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-8">
              <div id="btns-wrapper"></div>
              <div id="slideshow">
                <img class="slide" src="assets/images/stories/storyfull-1.jpg" alt="1" />
                <img class="slide" src="assets/images/stories/storyfull-6.jpg" alt="2" />
                <img class="slide" src="assets/images/stories/storyfull-3.jpg" alt="3" />
                <img class="slide" src="assets/images/stories/storyfull-4.jpg" alt="4" />
                <img class="slide" src="assets/images/stories/storyfull-5.jpg" alt="5" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>