<div class="central-meta">
    <span class="create-post">Invites <a href="#" title="">See All</a></span>
    <ul class="suggested-frnd-caro invite">
      <li>
        <img src="assets/images/resources/recent1.jpg" alt="">
        <div class="sugtd-frnd-meta">
          <a href="#" title="">Olivia</a>
          <span>1 mutual friend</span>
          <a href="#" title="" class="send-invitation" data-ripple="">Invite</a>
        </div>
      </li>
      <li>
        <img src="assets/images/resources/recent2.jpg" alt="">
        <div class="sugtd-frnd-meta">
          <a href="#" title="">Emma watson</a>
          <span>2 mutual friend</span>
          <a href="#" title="" class="send-invitation" data-ripple="">Invite</a>
        </div>
      </li>
      <li>
        <img src="assets/images/resources/recent3.jpg" alt="">
        <div class="sugtd-frnd-meta">
          <a href="#" title="">Isabella</a>
          <span><a href="#" title="">Emmy</a> is mutual friend</span>
          <a href="#" title="" class="send-invitation" data-ripple="">Invite</a>
        </div>
      </li>
      <li>
        <img src="assets/images/resources/recent4.jpg" alt="">
        <div class="sugtd-frnd-meta">
          <a href="#" title="">Amelia</a>
          <span>5 mutual friend</span>
          <a href="#" title="" class="send-invitation" data-ripple="">Invite</a>
        </div>
      </li>
      <li>
        <img src="assets/images/resources/recent5.jpg" alt="">
        <div class="sugtd-frnd-meta">
          <a href="#" title="">Sophia</a>
          <span>1 mutual friend</span>
          <a href="#" title="" class="send-invitation" data-ripple="">Invite</a>
        </div>
      </li>
      <li>
        <img src="assets/images/resources/recent6.jpg" alt="">
        <div class="sugtd-frnd-meta">
          <a href="#" title="">Amelia</a>
          <span>3 mutual friend</span>
          <a href="#" title="" class="send-invitation" data-ripple="">Invite</a>
        </div>
      </li>
    </ul>
  </div>