<div class="flex flex-col h-screen">
  
    <!-- Header -->
    <app-header class="w-full"></app-header>
    
    <!-- Contenido principal y barras laterales -->
    <div class="flex flex-1 overflow-hidden">
      
      <!-- Sidebar Izquierdo -->
      <app-sidebar-left class="hidden md:block md:w-64 lg:w-80 bg-gray-800 p-4 overflow-y-auto"></app-sidebar-left>
      
      <!-- Contenido Principal -->
      <app-home class="w-full overflow-y-auto"></app-home>
      
      <!-- Sidebar Derecho -->
      <app-sidebar-rigth class="hidden md:block md:w-64 lg:w-80 bg-gray-800 p-4 overflow-y-auto"></app-sidebar-rigth>
      
    </div>
    
 
    
  </div>
  