<span class="create-post">Create post</span>
									<div class="new-postbox">
										<figure>
											<img src="assets/images/resources/admin.jpg" alt="">
										</figure>
										<div class="newpst-input">
											<form method="post">
												<textarea rows="2" placeholder="Share some what you are thinking?"></textarea>
											</form>
										</div>
										<div class="attachments">
											<ul>
												<li>
													<span class="add-loc">
														<i class="fa-light fa-location-dot"></i>
													</span>
												</li>
												<li>
													<i class="fa-light fa-music"></i>
													<label class="fileContainer">
														<input type="file">
													</label>
												</li>
												<li>
													<i class="fa-light fa-image"></i>
													<label class="fileContainer">
														<input type="file">
													</label>
												</li>
												<li>
													<i class="fa-light fa-camcorder"></i>
													<label class="fileContainer">
														<input type="file">
													</label>
												</li>
												<li>
													<i class="fa-brands fa-instagram"></i>
													<label class="fileContainer">
														<input type="file">
													</label>
												</li>
												<li class="preview-btn">
													<button class="post-btn-preview" type="submit" data-ripple="">Preview</button>
												</li>
											</ul>
											<button class="post-btn" type="submit" data-ripple="">Post</button>
										</div>
										<div class="add-location-post">
											<span>Drag map point to selected area</span>
											<div class="row">

											    <div class="col-lg-6">
											      	<label class="control-label">Lat :</label>
											      	<input type="text" class="" id="us3-lat" />
											    </div>
											    <div class="col-lg-6">
											      	<label>Long :</label>
											      	<input type="text" class="" id="us3-lon" />
											    </div>
											</div>
										  	<!-- map -->
										  	<div id="us3"></div>
										</div>
									</div>	