<section>
	<div class="gap2 gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row merged20" id="page-contents">
						<div class="col-lg-3">
							<!-- sidebarhome -->
							<app-sidebar-home></app-sidebar-home>
						</div>
						<div class="col-lg-6">
							<!-- Storis -->
							<app-stories></app-stories>

							<div class="central-meta postbox">
								<!-- add post new box -->

								<app-create-post></app-create-post>
							</div>
						
							<div class="central-meta">
								<app-reelies></app-reelies>
							</div>
							<!-- invitar amigos -->
							<div class="central-meta">
								<app-friends-invited-slider></app-friends-invited-slider>
							</div>
							<!-- suggested friends -->
							<div class="central-meta">
								<app-suggested-friends-slider></app-suggested-friends-slider>
							</div>
							<div class="adb" style="display: inline-block;">
								<div class="adv-baner">
									<img alt="" src="assets/images/resources/adv-baner.jpg">
								</div>
							</div>
							<div class="loadMore">
								<div class="central-meta item">
									<app-post-reeliest></app-post-reeliest>
								</div>
							</div>
						</div>
				
					</div>
				</div>
			</div>
		</div>
	</div>
</section>