 <ul class="drops-menu">
				<li>
				  <div>
					<figure>
					  <img src="images/resources/thumb-2.jpg" alt="">
					</figure>
					<div class="mesg-meta">
					  <h6><a href="#" title="">Loren</a></h6>
					  <span><b>Amy</b> is mutule friend</span>
					  <i>yesterday</i>
					</div>
					<div class="add-del-friends">
					  <a href="#" title=""><i class="fa fa-heart"></i></a>
					  <a href="#" title=""><i class="fa fa-trash"></i></a>
					</div>
				  </div>
				</li>
				<li>
				  <div>
					<figure>
					  <img src="images/resources/thumb-3.jpg" alt="">
					</figure>
					<div class="mesg-meta">
					  <h6><a href="#" title="">Tina Trump</a></h6>
					  <span><b>Simson</b> is mutule friend</span>
					  <i>2 days ago</i>
					</div>
					<div class="add-del-friends">
					  <a href="#" title=""><i class="fa fa-heart"></i></a>
					  <a href="#" title=""><i class="fa fa-trash"></i></a>
					</div>
				  </div>
				</li>
				<li>
				  <div>
					<figure>
					  <img src="images/resources/thumb-4.jpg" alt="">
					</figure>
					<div class="mesg-meta">
					  <h6><a href="#" title="">Andrew</a></h6>
					  <span><b>Bikra</b> is mutule friend</span>
					  <i>4 hours ago</i>
					</div>
					<div class="add-del-friends">
					  <a href="#" title=""><i class="fa fa-heart"></i></a>
					  <a href="#" title=""><i class="fa fa-trash"></i></a>
					</div>
				  </div>
				</li>
				<li>
				  <div>
					<figure>
					  <img src="images/resources/thumb-5.jpg" alt="">
					</figure>
					<div class="mesg-meta">
					  <h6><a href="#" title="">Dasha</a></h6>
					  <span><b>Sarah</b> is mutule friend</span>
					  <i>9 hours ago</i>
					</div>
					<div class="add-del-friends">
					  <a href="#" title=""><i class="fa fa-heart"></i></a>
					  <a href="#" title=""><i class="fa fa-trash"></i></a>
					</div>
				  </div>
				</li>
				<li>
				  <div>
					<figure>
					  <img src="images/resources/thumb-1.jpg" alt="">
					</figure>
					<div class="mesg-meta">
					  <h6><a href="#" title="">Emily</a></h6>
					  <span><b>Amy</b> is mutule friend</span>
					  <i>4 hours ago</i>
					</div>
					<div class="add-del-friends">
					  <a href="#" title=""><i class="fa fa-heart"></i></a>
					  <a href="#" title=""><i class="fa fa-trash"></i></a>
					</div>
				  </div>
				</li>
			  </ul>
			  <a href="friend-requests.html" title="" class="more-mesg">View All</a> 
			
			